# dependencies
/backend/admin-js-service/node_modules
/backend/user-service/.venv
/backend/product-service/.venv
/backend/order-service/.venv
/backend/notification-service/.venv
/backend/notification-consumer/.venv
/backend/shared/.venv
/backend/api-gateway/.venv

/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz
/frontend/.env
/frontend/coverage
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.vercel

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
