# dependencies
/backend/admin-js-service/node_modules
/backend/user_service/.venv
/backend/product_service/.venv
/backend/order_service/.venv
/backend/notification_service/.venv
/backend/notification_consumer/.venv
/backend/shared/.venv
/backend/api_gateway/.venv

# tests
/backend/user_service/tests
/backend/product_service/tests
/backend/order_service/tests
/backend/notification_service/tests
/backend/notification_consumer/tests
/backend/shared/tests
/backend/api_gateway/tests

/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz
/frontend/.env
/frontend/coverage
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.vercel

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
